<div class="page-title parallax parallax1">
    <div class="section-overlay">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">About Us</h1>
                </div>
                <!-- /.page-title-captions -->
                <div class="breadcrumbs">
                    <ul>
                        <li>Home</li>
                        <li> - </li>
                        <li>Page</li>
                        <li> - </li>
                        <li>About Us</li>
                    </ul>
                </div>
                <!-- /.breadcrumbs -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.page-title -->
<section class="flat-row section-about1 parallax parallax3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section text-center">
                    <h1 class="title">About Us</h1>
                    <div class="sub-title">
                        Some great addresses you should not miss
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="iconbox icon-text text-left">
                            <div class="box-content">
                                <div class="box-title">Our Vision</div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                    been the industry's</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="iconbox icon-text text-left">
                            <div class="box-content">
                                <div class="box-title">Our Mission</div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                    been the industry's</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="iconbox icon-text text-left">
                            <div class="box-content">
                                <div class="box-title">We love idea</div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                    been the industry's</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="iconbox icon-text text-left">
                            <div class="box-content">
                                <div class="box-title">Technology</div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                    been the industry's</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="flat-video">

                    <img src="assets/images/abc.jpg" alt="image">

                </div>
            </div>
        </div>
    </div>
</section>